$breakpoints: (
  small: 30rem,
  //480px
  medium: 48rem,
  //768px
  large: 64rem,
  //1024px
);

@mixin media($key) {
  $width: map-get($breakpoints, $key);

  @media (min-width: $key) {
    @content;
  }
}

// @extend

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
