:root {
  --content-maxwidth: calc(1400rem / 16);
  --color-primary: #d31b27;
  --color-netural: #f3edee;
  --color-border: #979797;
  --color-green: #16a03d;

  --text-base: black;
  --text-inversed: white;

  --font-base: "Quattrocento Sans", sans-serif;
  --font-title: "Quattrocento Sans", sans-serif;
  --font-deco: "Quattrocento", serif;
}
