.container {
  padding: 100px 50px 50px;
}

.content {
  margin: 0 auto;
  max-width: var(--content-maxwidth);

  @media (min-width: 48rem) {
    display: flex;
  }
}

.intro {
  flex: 2;

  @media (min-width: 48rem) {
    margin-right: 50px;
  }

  .deco {
    color: var(--color-primary);
    font-family: var(--font-deco);
    font-size: 1.5rem;
    font-style: italic;
    margin: 2rem;
    text-align: center;
  }
}

.contact {
  flex: 1;

  @media (min-width: 48rem) {
    display: block;
  }
}
