.container {
  height: 50vh;
  margin-top: 80px;
}

.content {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.wrapper {
  display: flex;
  height: 100%;
  transition: all 1s ease-in-out;
}

.featureImg {
  height: 100%;
  position: relative;
  width: 100vw;

  img {
    object-fit: cover;
    object-position: center;
  }
}

.arrow {
  cursor: pointer;
  line-height: 0;
  position: absolute;
  top: calc(50%);
  z-index: 3;

  svg {
    color: var(--color-primary);
    height: 1.8rem;
    width: 1.8rem;
  }
}

.arrowLeft {
  @extend .arrow;
  left: 2%;
}

.arrowRight {
  @extend .arrow;
  right: 2%;
}
