.container {
  min-height: calc(100vh - 319px);
  padding: 120px 50px 50px;
}

.content {
  @media (min-width: 48rem) {
    display: flex;
  }
}

.customerInfo {
  flex: 2;

  .item {
    .orderDetails {
      margin: 1rem 0;
    }
  }
}

.orderInfo {
  flex: 1;
  margin-top: 3rem;

  @media (min-width: 48rem) {
    margin-top: 0;
  }

  .wrapper {
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    padding: 50px;
  }

  .priceInfo {
    p {
      display: flex;
      justify-content: space-between;
    }
  }

  .total {
    font-size: 1.2rem;
    margin: 1rem 0;
  }

  button {
    background: white;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    color: var(--color-primary);
    font-weight: bold;
    padding: 8px 20px;
    margin-top: 30px;
    width: 100%;
  }
}
